Options +FollowSymLinks

# Rewrite engine setup
RewriteEngine on

# Homepage/repository
RewriteRule https://huanyu-li.github.io/BadmintONTO/demo/ https://badmintonto-372ed9520795.herokuapp.com [R=308,L]
